$imgurl:"../images/common/";
$imgurl3:"../images/icons/";
$color-primary:#32D679;

$color-step1:#0DA6FD;
$color-step2:#FFC700;
$color-step3:#FF7A00;
$color-step4:#FF3D00;

$popcolor-step1:rgba(20,119,234,.9);
$popcolor-step2:rgba(255,188,15,.9);
$popcolor-step3:rgba(247,142,45,.9);
$popcolor-step4:rgba(248,90,90,.9);

$txt-c:center;
$txt-l:left;
$txt-r:right;
$fl:left;
$fr:right;
$m0a:0 auto;


$breakpoint-mobile-f:280px;
$breakpoint-mobile:320px;
$breakpoint-tablet:691px;
$breakpoint-tablet2:900px;
$breakpoint-desktop:1400px;



