/*2021-0317수정*/input, button{outline:none;}
select{background:#fff}
/* skipnav */
#skipnav a {display: block; position: absolute; left: 0; top: -10000px;}
#skipnav a:hover, #skipnav a:focus, #skipnav a:active {top: 0; padding: 15px 0; background: #004b9d; color: #fff; text-align: center; z-index: 1001; width: 100%;}

/* top button */
.btn-top {position: fixed; bottom: .5rem; left: .5rem; display: none; padding: .5rem 1rem; z-index: 1000; box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14); background-color: rgba(255, 255, 255, 0.8);}
.btn-top svg {transform: rotate(90deg); margin: 0;}
.btn-top:hover {background: #545454;}
.btn-top:hover:before {color: #fff;}

/* header */

header {display: flex; flex-direction: column; position: relative;}
header h1 {font-size: 1.25rem; letter-spacing: -1px; background: #f8f8f8; padding: .31rem 0.8rem; font-weight: bold;box-shadow: 3px 0 5px rgb(200 200 200 / 80%);z-index: 1;}
header h1 a {color: #3e4245;}
header h1 a:not(.btn-search) {vertical-align: top;}
.logo img{width:32px;display: inline-block;float: left;margin: 4px;}
header .btn-search {margin: 7px 0.6rem;display: inline-flex;float: right;}
header .btn-search svg {width: 1rem; height: 1rem;}
/*
header {display: flex; flex-direction: column; position: relative; box-shadow: 3px 0 5px rgb(200 200 200 / 80%);z-index: 1;}
header h1 .logo{font-size:0px;color:tranparent;}
header h1 a {color: #004ea2;}
header h1 a:not(.btn-search) {vertical-align: top;}
#gnb > ul > li > a {display: flex; flex-direction: column; align-items: center; color: #fff; font-size: .75rem; padding: 1rem; background: #004ea2;}

*/


#gnb {position: fixed; bottom: 0; z-index: 1000; width: 100vw;}
#gnb > ul {display: flex; overflow-x: scroll;}
#gnb > ul > li {min-width: 5rem; flex: 1;}
#gnb svg {fill: #fff; margin-bottom: .4rem;}


/* main contents */
main {background: #f2f2f2; height: calc(100vh - 7.5625rem); overflow-y: hidden; position: relative;}
.contents {padding: 1rem;}
.contents h2 {text-align: center; border-bottom: 2px solid #e9e9e9; padding: 1rem 0;}
.contents h2 p {font-size: .875rem; color: #a8a8a8; font-weight: 400;}
h3 {margin-bottom: .5rem; display: flex;}
h3 label {display: inline-flex; align-items: center; margin-left: auto; font-size: 1rem; font-weight: 400;}
h3 em {color: #008cee; margin-left: .5rem;}
article {margin-top: 2rem;}
.subtitle1{box-shadow: 0 0 0px rgb(200 200 200 / 00%) !important;border-bottom: 1px solid #0146a3 !important;}
.subtitle1:before{content:"";margin-top: 16px;margin-right: 11px;width:10px;height:10px;display:inline-block;border-radius:50%;background:linear-gradient(150deg, #004ea2 , #001854);}
.map {width: 100%; height: 100%; position: relative;}
.map .info {padding: .5rem 1.25rem .31rem; background-color: rgba(255, 255, 255, .6); display: flex; font-size: .75rem; }
.map .info svg {fill:#909090 !important;width:12px;margin-top: -3px;margin-right:4px;}
.map .info dl {display: flex; margin-left: auto;}
.map .info dt {font-weight: bold; margin-right: .5rem;}
.map .info dt:not(:first-child) {margin-left: 1rem;}

/* search */
.search, .search ul li {display: flex;}
.search ul {flex: 1; margin-right: .5rem;}
.search ul li {align-items: center;}
.search ul li:not(:first-child) {margin-top: .4rem;}
.search .btn-search {font-size:16px; background:linear-gradient(150deg, #004ea2 , #001854);color: #fff;border-radius: .25rem; padding: 0 1rem; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.search .btn-search svg {fill: #fff; margin:6px 4px;width: 1.2rem; height: 1.2rem;}
.search select + select {margin-left: .5rem;}
.search label {margin-right: .5rem;}

.searchForm{margin-top:2.5rem;overflow:hidden;}
.searchForm, .searchForm ul li{display:block;width:100%;}
.searchForm select{width:48%;margin-left:1%;margin-top:1%;}
.searchForm input[type="text"]{width:77%;margin-left:1%;padding:.375rem .5rem; border: 1px solid #ced3d6;height:39px;float:left;}
.searchForm li:last-child{margin-top:2.5%}
.searchForm .btn-search {width:20%;padding:.35rem 0;text-align:center;height:39px; margin-left:1%;float:left;font-size:0.78em; background:linear-gradient(150deg, #004ea2 , #001854);color: #fff;border-radius: .1rem; display:inline-block;}
.searchForm .btn-search svg {fill: #fff; margin:6px 4px;display:inline-block;width:0.7rem; height:0.7rem;}
.searchForm, .searchForm ul{display:block;widht:100%;}
/*.search, .search ul li {display: flex;}
.search ul {flex: 1; margin-right: .5rem;}
.search ul li {align-items: center;}
.search ul li:not(:first-child) {margin-top: .4rem;}
.search .btn-search {font-size:0.8em; background:linear-gradient(150deg, #004ea2 , #001854);color: #fff;border-radius: .25rem; padding: 0 1rem; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.search .btn-search svg {fill: #fff; margin:6px 4px;width: 1.2rem; height: 1.2rem;}
.search select + select {margin-left: .5rem;}
.search label {margin-right: .5rem;}
*/




.box {background: #e9e9e9; padding: 1rem;}
.box dt {font-weight: 500;}
.box dt:not(:first-child) {margin-top: 1rem;}
.box dd {word-break: normal;}

.link-group {display: flex; flex-direction: column;}
.link-group label {background: #fff; padding: .5rem 1rem; margin-bottom: .5rem;}
.link-group a:not(.btn) {background: #ececec; padding: .5rem 1rem; margin-bottom: .5rem; color: #000; position: relative; display: flex; align-items: center;}
.link-group a:not(.btn)::after {content: ''; border: solid #bebebe; border-width: 1px 1px 0 0; padding: .25rem; display: inline-block; transform: rotate(45deg); position: absolute; right: 1rem;}
.link-group a:not(.btn).active, .link-group a:not(.btn):hover {background: #2eaaf2; color: #fff;}
.link-group a:not(.btn).active::after, .link-group a:not(.btn):hover::after {border-color: #fff;}
input[type="checkbox"] + svg, input[type="radio"] + svg {fill: #d9d9d9; margin-right: .25rem;}
input[type="checkbox"]:checked + svg, input[type="radio"]:checked + svg {fill: #008cee;}

/* accordion */
ol {counter-reset: li;}
ol h4:before {counter-increment: li; content: counter(li)'. ';}
ol h5:before {counter-increment: li; content: counters(li, '-')'. ';}
ol.list-img > li li::before {counter-increment: li; content: counter(li); border: 1px solid #aaa; border-radius: 50%; display: inline-flex; width: 1rem; height: 1rem; margin-right: .25rem; align-items: center; justify-content: center; text-indent: 0;}

.accordion li:not(:first-child), .checklist > li:not(:first-child) {margin-top: 1rem;}
.accordion h4,
.checklist h4 {display: flex; align-items: center;}
.accordion h4 .btn {margin-left: .5rem;}
.checklist h4::before {content: none;}
.checklist .list {margin-left: 1.5rem;}
.checklist .list li {margin-top: .25rem;}
.slide .accordion {overflow-y: scroll; height: 12rem;}

.list-img div {/*border: 1px solid #ddd;*/ border-radius: .25rem;}
.list-img div img {width: 100%;}
.list-img h4 {padding: .5rem 0; border-bottom: 1px solid #ddd; margin-bottom: .5rem; font-weight: 500;}
.list-img > li {width: 49%; display: inline-flex; flex-direction: column;}
.list-img > li:nth-child(2n + 3) {margin-top: .5rem;}
.list-img > li li {font-size: .75rem; text-indent: -1.25rem; margin-left: 1.25rem; margin-bottom: .25rem;}

.write h3 {font-size: 1.375rem; margin-bottom: 1.5rem;}
.write ul {border-top: 2px solid #ced3d6; border-bottom: 1px solid #ced3d6; padding: 1.5rem 0;}
.write li {display: flex; position: relative;}
.write li:not(:first-child) {margin-top: 1.5rem;}
.write li div {flex: 1; position: relative;}
.write li div:not(:first-child) {margin-left: 1rem;}
.write p {left: auto; padding-left: .75rem; top: 100%; display: flex; width: 100%;}
.write p span {margin-left: auto;}
.write button {position: absolute; right: 0; bottom: .5rem;}
.success svg {fill: #41bd64;}
.error svg {fill: #da1e27;}
.write .btn-group {margin-top: 1rem; text-align: center;}
.write .btn-group .btn {width: 15rem; justify-content: center;}


.control {position: absolute; right: 1rem; bottom: 4.3rem;}
/*.control ul li {background-color: #fff; box-shadow: 2.939px 4.045px 10px 0px rgba(0, 0, 0, 0.16); border: 1px solid #ddd; border-radius: .25rem; position: relative; font-size: .75rem; text-align: center; padding: .5rem ; display: flex; flex-direction: column; align-items: center;}*/
.control ul li {background-color: #fff; box-shadow: 2.939px 4.045px 10px 0px rgba(0, 0, 0, 0.16); border: 1px solid #ddd; border-radius: .25rem; position: relative; font-size: .75rem; text-align: center; padding: .5rem ; display: flex; flex-direction: column; align-items: center; place-content:space-evenly;}
.control ul li.blue {background-color: #008cee; color: #fff;}
.control ul li:not(:first-child) {margin-top: .5rem;}
.control svg ,.control img{fill: #929292; margin: 0; width: 1.25rem; height: 1.25rem;}
.control .blue svg {fill: #fff;}


/* legend */
.legend {position: absolute; bottom: .5rem; right: .5rem; display: block; padding: .75rem 1rem;}
.legend p {font-size: .875rem; margin-bottom: .25rem;}
.legend li::before {content: ''; width: 1.875rem; height: .75rem; border: 1px solid #ced3d6; box-sizing: border-box; display: inline-block; margin-right: .5rem; vertical-align: middle;}
.legend li:not(:first-child):not(:last-child) {margin: .125rem 0;}
.severe::before {background: #ff0000;}
.alert::before {background: #ff9909;}
.warn::before {background: #ffff00;}
.concern::before {background: #023693;}


label > * {font-size: .6875rem;}
label span {color: #9e9e9e;}
label span:before {content: '-'; margin: 0 .25rem;}
label em {margin-left: .5rem;}
.no-label {align-self: flex-end;}
.info em {color: #1565c0;}
.info em:before {font-family: 'icomoon'; content: '\e901'; color: #1565c0; margin-right: .25rem; vertical-align: bottom; font-size: 1rem;}
/* .success h3, */
.success em {color: #4caf50;}
/* .error h3, */
.error em {color: #f44336;}
.verify i,
/* button:last-child {position: absolute; padding: 0; border: 0; bottom: .75rem; right: .75rem;} */
.search button {background: none; font-size: 1rem; color: #757575;}
button.delete {background: #757575; border-radius: 50%; display: block; width: .8125rem; height: .8125rem; bottom: .85rem;}
button.delete:before, button.delete:after {content: ''; width: 1px; height: .5rem; background: #fff; position: absolute; left: calc(50% - .03125rem); top: 2px;}
button.delete:before {transform: rotate(45deg);}
button.delete:after {transform: rotate(-45deg);}
input[type="checkbox"] + label:before {content: none;}
/* li:not(:first-child):not(:last-child) {margin: .5rem 0;} */
.input-group {display: flex;}
.input-group > *:not(:first-child) {margin-left: .5rem;}

/* layer popup and modal */
.btn-close {position: absolute; right: 1rem; top:0.5rem; display: block; width: 1.5rem; height: 1.5rem; cursor: pointer;}
.btn-close:before, .btn-close:after {content: ''; width: 2px; height: 1.5rem; background: #b1b1b1; position: absolute; left: 50%;}
.btn-close:before {transform: rotate(45deg);}
.btn-close:after {transform: rotate(-45deg);}

.mask {content: ''; background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999;}
.modal-open {overflow: hidden;}
.modal {position: absolute; width: 100%; height: calc(100% - 5rem); box-sizing: border-box; box-shadow: 3.28px 3.774px 35px 0px rgba(0, 0, 0, 0.34); z-index: 1001; padding: 1rem; background: #fff; display: none; overflow-y: scroll;}
.mask .modal{padding: 0rem;}
.mask .modal > h3, .mask .modal > h2, .title_wrap {padding:0.5rem;box-shadow: 0 0 5px rgb(200,200,200, 80%);border-bottom:0px;}
.mask .modal form,.pd_wrap{display:block;padding:0.5rem; }
/* .modal:not(.slide).active {display: block;} */
.modal > h3 {font-size: 1.3125rem; justify-content: normal; margin-bottom: .5rem; padding-bottom: .25rem;}
.modal .btn-group {margin-top: 1rem;}
.modal .btn-group .btn {flex: 1;}

.popup h3 {text-align: center; font-size: 1.5rem; margin-top: 1.5rem;}
.popup h3 strong {color: #ff9909; position: relative; display: inline-flex; align-items: center;}
.popup h3 strong::after {content: ''; border-left: 1px solid #ced3d6; height: 1rem; margin: 0 1rem;}
.popup {background: rgba(248, 250, 251, 0.8); border-radius: .5rem; box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);}
.popup-white {background: #fff;}
.popup .popup-white {z-index: 1; position: relative;}
.popup-contents {padding: 1.5rem;}
.popup-contents > div:not(:last-child) {margin: 1rem 0;}
.popup-contents > div:first-child, .popup-contents > ul.search {margin-top: 0;}
.popup-contents table {margin: 0 -1.5rem;}

.message.active {display: flex; flex-direction: column; align-items: center; width: auto;}
.message h3 {border: 0; font-size: 1.75rem; display: flex; flex-direction: column; align-items: center;}
.message .popup-contents {background: #f1f5f5; border-radius: .5rem; padding: 1rem; text-align: center; font-size: .875rem;}
.message h3 svg {width: 3.5rem; height: 3.5rem; margin: 0 0 .5rem 0;}

.message p + p {font-size: .8125rem;}
.message-box .message {padding-left: 3rem; background: url("../img/info.svg") no-repeat 0 50%/2rem}
.message.warning {background-image: url("../img/warning.svg");}
.message.error {background-image: url("../img/error.svg");}
.message.success {background-image: url("../img/success.svg");}
.info h3 {color: #2196f3;}
.warning h3 {color: #f57f17;}

/* button */
.btn {display: inline-block; color: #fff; padding: .5rem 1.5rem; line-height: 1.375rem; border-radius: 2rem; text-align: center; border: 1px solid transparent; font-size: .875rem;}
.btn-white {background: #fff; color: #4d5256; border-color: #ced3d6;}
.btn-white.active, .btn-white:hover {background: #4d5256; color: #fff;}
.btn-white.active svg, .btn-white:hover svg, .btn-blue svg {fill: #fff;}
.btn-blue {background: linear-gradient(150deg, #004ea2 , #001854);}
.btn-lightblue {background: linear-gradient(150deg, #004ea2 , #001854);color:#fff !important}
.btn-gray {background: #878787; border-color: #878787;}
.btn-gray svg {fill: #fff;}
.btn-gray:hover {background: #e1e4e6; color: #4d5256; border-color: #ced3d6;}
a.btn-blue:link {color:#fff !important}
.btn-small {font-size: .75rem; border-radius: .25rem; padding: 0 .5rem;}
.btn-large {font-size: 15px; min-width: 110px; padding: 18px 0; margin: 5px 2px; line-height: 24px; vertical-align: middle;}
.btn-xlarge {font-size: 15px; min-width: 116px; padding: 78px 0; margin: 5px 0; line-height: 24px; vertical-align: middle;}

.btn-disabled, .btn-disabled:hover {border-color: #d9d9d9; background: #d9d9d9; color: #fff; cursor: not-allowed;}
.btn-left {margin-top: 20px; clear: both;}
.btn-center {text-align: center;}
.btn-right {text-align: right; margin-top: 1rem;}
.divide ul, .btn-group {overflow: hidden; display: flex;}
.btn-group .left-side {float: left;}
.btn-group .right-side {float: right;}
.btn-group select {width: auto;}
.divide ul li {width: calc(50% - .25rem); margin: 0 .5rem 0 0; float: left;}
.divide ul li:last-child {margin-right: 0;}
.btn-absolute.btn-group {position: absolute; top: 0; right: .75rem; width: auto; display: flex; align-items: center;}
.btn + .btn {margin-left: .25rem;}

/* table */
table {width: 100%; font-size: .875rem; border: 1px solid #ddd;}
table tr th,
table tr td {padding: .5rem; border-bottom: 1px solid #ddd;}
table tr th {background: #f3f3f3;}
table tr:last-child th, table tr:last-child td {border-bottom: 0;}
.no-ellipsis {white-space: normal;}
table img {width: 100%;}
.td-button {display: flex;}
.td-button input[type="text"] {width: calc(100% - 4rem); margin-right: .5rem;}
input[type="button"] + input[type="button"] {margin-left: .25rem;}

.table-scroll-wrap {border-bottom: 1px solid #757575;}
.table-scroll {overflow-y: auto; max-height: 15.4375rem; padding-left: 1rem; margin-left: -1rem; position: relative;}

.horizontal {text-align: left;}
.horizontal tbody tr:hover {box-shadow: none; background: none;}
.horizontal input , .horizontal textarea, .horizontal select{border:0px; border-bottom:1px solid #777}
.horizontal input:disabled , .horizontal textarea:disabled, .horizontal select:disabled{border:0px; border-bottom:0px solid #777}
.horizontal textarea{border:1px solid #777}
.write select + select {margin-top: .5rem;}

.nodata {position: relative; text-align:center; background: #e4e6f5; color: #283593; font-weight: bold;}
.nodata span {position: absolute; top: 50%; left: 50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%);}

/* pagination */
.pagination {margin-top: 1rem; text-align: center; font-size: .875rem;}
.pagination li {display: inline-block; vertical-align: middle;}
.pagination li a {display: flex; position: relative; align-items: center; justify-content: center;}
.pagination li a:not([class*="arrow"]) {height: 2rem; width: 2rem; line-height: 2rem; border-radius: .25rem; border: 1px solid transparent;}
.pagination li.active a {background: #f8fafb; border-color: #ced3d6; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);}
.pagination li:hover:not(.active) a {color:#4c80f1; border-color: #4c80f1;}
.breadcrumb > li:not(.home) > a::after, [class*="arrow"].left:before, [class*="arrow"].right:after {content: ''; border: solid #4d5256; border-width: 0 2px 2px 0; display: inline-block; padding: 3.25px;}
.left:before {transform: rotate(135deg); -webkit-transform: rotate(135deg); margin-right: -1px;}
.right:after {transform: rotate(-45deg); -webkit-transform: rotate(-45deg); margin-right: 1px;}
.left {margin-right: .5rem;}
.right {margin-left: .5rem;}
.first a:after, .last a:before {content: ''; border-left: 2px solid #4d5256; height: 13px; position: absolute;}
.first a:after {left: -.4rem;}
.last a:before {right: -.4rem;}
[class*="arrow"]:hover:after,
[class*="arrow"]:hover:before {border-color: #4c80f1;}

/* tab */
ol + .tab {margin-top: 2.5rem;}
.tab {border-bottom: 1px solid #e1e4e6; display: flex; position: relative;}
.tab > li[class*="col-"] {position: relative;}
.tab > li[class*="col-"]:not(:first-child):before, .tab li:not([class*="col-"]):not(:first-child) a::before {content: ''; border-left: 1px solid #e1e4e6; position: absolute; left: 0; height: 1.25rem;}
.tab li a {display: flex; font-size: 1.25rem; line-height: 1.25rem; padding: 0 1.25rem 1rem; color: #4d5256; border-bottom: .5rem solid transparent; justify-content: center; position: relative;}
.tab li:hover a, .tab li.on a {border-image: linear-gradient(0deg, #6acb9b, #7ac3c0);
border-image: -webkit-linear-gradient(0deg, #6acb9b, #7ac3c0);
border-image: -moz-linear-gradient(0deg, #6acb9b, #7ac3c0);
border-image: -ms-linear-gradient(0deg, #6acb9b, #7ac3c0);
color: #4d5256; border-image-slice: 1;}
.tab-contents {position: absolute; padding: 1.5rem 0; left: 0; width: 100%;}
.tab li:not(.on) .tab-contents {display: none;}
.tab-contents > ul li:first-child {margin: 0;}
.tab + .tab-contents {position: relative;}

.prev, .next {position: absolute; top: 50%; transform: translateY(-50%); margin: 0 1.5rem; z-index: 10;}
.next {right: 0;}
.prev::before, .next::before {content: ''; display: inline-block; border: solid #fff; border-width: 0 .25rem .25rem 0; padding: .5rem;}
.prev::before {transform: rotate(135deg);}
.next::before {transform: rotate(-45deg);}

/*------- 2021-02-05 css추가 START -----------
#gnb > ul > li {min-width: 3.75rem; flex: 1;}
#gnb > ul > li > a {display: flex; flex-direction: column; align-items: center; color: #fff; font-size: .75rem; padding: .5rem; background: #004ea2;}
*/

#gnb{background:linear-gradient(150deg, #004ea2 , #001854); }
#gnb > ul > li {min-width: 3.75rem; flex: 1;}
#gnb > ul > li > a {display: flex; flex-direction: column; align-items: center; color: #fff; font-size: .75rem; padding: .5rem; }



/* main contents */
main {background: #f2f2f2; height: calc(100vh - 6.5625rem); overflow-y: hidden; position: relative;}

.link-group a:not(.btn) {background: #fff; box-shadow: 0 0 5px rgb(200, 200, 200,70%); padding: .3rem 1rem; border-bottom:1px solid #004b9c; margin-bottom: .3rem; color: #000; position: relative; display: flex; align-items: center;}
.link-group a:not(.btn)::after {content: ''; border: solid #000; border-width: 1px 1px 0 0; padding: .25rem; display: inline-block; transform: rotate(45deg); position: absolute; right: 1rem;}
.link-group a:not(.btn).disabled::after {border-color: #bebebe;}

#mask {content: ''; background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; right: 0; bottom: 4rem; z-index: 999;}
/*.modal {position: absolute; width: 100%; height: calc(100% - 4rem); box-sizing: border-box; box-shadow: 3.28px 3.774px 35px 0px rgba(0, 0, 0, 0.34); z-index: 1001; padding: 1rem; background: #fff; display: none; overflow-y: scroll;}*/
.modal {position: absolute; width: 100%; height: calc(100% - 4rem);  padding-bottom: 40px !important; box-sizing: border-box; box-shadow: 3.28px 3.774px 35px 0px rgba(0, 0, 0, 0.34); z-index: 1001; padding: 1rem 1rem 0.3rem 1rem; background: #fff; display: none; overflow-y: scroll;}


.modal:not(.slide).active {display: block;}

.slide {height: auto; bottom: 0; border-radius: 1rem 1rem 0 0;}

/*2021-0317 모달 수정*/
.modal.slide{background:#f8f8f8}
.modal.slide h3{border:0px; justify-content:normal;}

.message.active {display: flex; flex-direction: column; align-items: center; width: auto; height: auto; box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.2), 0 9px 46px 0 rgba(0, 0, 0, 0.12), 0 24px 38px 0 rgba(0, 0, 0, 0.14);}
.message .popup-contents {padding: 0 1rem; text-align: center; font-size: .75rem;}

.checklist {font-size : 0.75em;}
.checklist label[for="backgroundLayer"]{font-size : 1.25em;}

table tr th {font-size: 16px;}
table tr td {font-size: 16px;}
table tr td select {font-size: 16px;}
.detailTmpFont{font-size: 13px;}
#seq{font-size: 14px;}

/*-------- 2021-02-05 css수정 END-----------*/

/*-------- 2021-03-02 css수정 START-----------*/
/* main contents */
.contents {padding: 0.3rem;}

#mask {content: ''; background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999;}
.modal .btn {flex: 1;}

/* button */
.btn-small {font-size: .75rem; border-radius: 0; padding: .25rem; display: inline-flex; justify-content: center; align-items: center;}
.btn-small svg {width: 1rem; height: 1rem; margin-right: .25rem;}
.btn-small.btn-blue svg {fill: #008cee;}
.btn-small.btn-blue {border: 1px solid #008cee; background: none; color: #008cee;}

.btn-group .right-side {justify-content: flex-end;}

/* table */
table {width: 100%; font-size: .75rem; border: 0;}
table tr th,
table tr td {padding: .5rem; border-bottom: 0;}


.horizontal.write{border-bottom:1px solid #f6f6f6;}
.horizontal tr th ,.horizontal tr td{background:#fff;border-bottom:1px solid #f6f6f6;}
.horizontal tr th{vertical-align:top}
input[name='fileAddBtn'],input[name='fileDelBtn']{border: 1px solid #ced3d6;padding: .375rem .8rem;border:1px solid #ddd !important; border-radius:5px;}

.accordion span {font-size: .75rem; vertical-align: middle; margin-right: .5rem;color:#4d5256;}
.accordion .dot {display: inline-flex; margin-left:20px;align-items: center;}
.accordion .date {border-left: 1px solid #ddd; padding-left: .25rem;}

.accordion.tmpOl ol {margin-left: 0rem;}
.tmpA{margin-right: 0 !important;}
.tmpA:last-child{margin-right: .25rem !important;}
.inspecHistory{display: block !important;}

/*
.liInLi button::after {transform: rotate(0deg);}
.liInLi.on button::after {content: none;}
2021-03-29 수정
*/

/*-------- 2021-03-02 css수정 END-----------*/

/*-------- 2021-03-04 css 추가 START-----------*/
.custom-file-input::-webkit-file-upload-button{
visibility: hidden;
/* display:none; */
}
/* .custom-file-input::before{
 content:'사진 촬영';
display:inline-block;
background: -webkit-linear-gradient)top, #f9f9f9, #e3e3e3);
border: 1px solid #999;
border-radius: 3px;
padding: 5px 8px;
outline:none;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 10pt;
position: absolute;
bottom: 6px;
} */

.custom-file-input::before{
background:url(../icon/fileimg_icon.png)center center no-repeat;
content:"";
display:inline-block;
cursor: pointer;
position: absolute;
width:40px;
bottom: 0px;
height: 34px;
margin-left: -15px;
border: 0px;
background-size: 25px;
}
/*-------- 2021-03-04 css 추가 END-----------*/


/*-------- 2021-03-09 css 추가 END-----------*/
.rimsIconLocation{
background: url(../icon/location40px.png) no-repeat 0 50%/2rem;
width: 40px;
border: 0px;
}
/*-------- 2021-03-09 css 추가 END-----------*/

.calendar{background:#fff url(../../image/mobile/calendar.png)center right no-repeat;background-size: 20px;}
.table_td30 label , .table_td30 select{ display:inline-block; width:30%;float:left;}
.table_td30 select{width:70%;}
.backgray{background:#f8f8f8;padding:0.3rem 10px}
.mb1{margin-bottom:1px !important;}
.mt1{margin-top:0.3rem !important;}
.mt2{margin-top:1rem !important;}
.backgray article{ margin-top:1rem;padding: 0.5rem; box-shadow: 0 0 2px rgb(200 200 200 / 80%);background:#fff}
.backgray h3 em{color:#ff5001}
.backgray article h3{color:#16243e;}
.backgray article h3 img{width: 22px;height: 22px;margin-top: 6px;margin-right:6px; display:inline-block;}
.backgray .btn-group button svg{ fill: #fcd2ba; margin-top: 0.06em; width: 1rem; height: 1rem;margin-right: .25rem;}
@media screen and (max-width:380px){
	.btn4 .accordion button {width: 25%;}
	.backgray .btn-group button svg{ margin-top: 0em; margin-bottom:6px}
	.backgray .btn-group button span{display: block;}
}
.btn-rg{display:inline !important;width: 100%;}
.list_title{padding:5px 0;border-bottom:1px solid #f3f3f3;overflow: hidden;}
.list_name{float:right;margin-right:10px !important;margin-top: 11px;font-size:60% !important}
.list_name2{text-align:right;display:block;margin-right:10px !important;margin-top:8px;font-size:60% !important}
.fl{float:left;}
.btn-fr{float:right !important;}
.accordion .btn-group a{display:inline-block;float:left;margin-left: .1rem;}
.accordion li{border-bottom:2px solid #f3f3f3;padding: .3rem;}
.accordion li:last-child{border-bottom:0px}
.accordion .btn-group {margin: .5rem 0;}
.accordion .btn-group > div {display: flex; align-items: center;}
.accordion .btn-group > div + div {margin-top: .5rem;}
.accordion .btn-group label {margin-right: .5rem; font-size: .75rem;}
.accordion button { padding-right: 20px;position: relative; display: flex; justify-content: center; align-items: center;  margin-left: auto;}
.accordion button::before, .accordion button::after { position: absolute;right: 1px; background: #f4f4f4;box-shadow:0 1px 4px rgba(0,0,0,0.3); border-radius: 50%; width:0.8rem; line-height:0.8rem;height: 0.8rem;}
.accordion button::before{content: '+';}
.accordion button::after{content: '-';display:none;}
.accordion li.active h4 button, .accordion li.on > div button::after, .accordion li.on h4 button::after, .accordion div.on button::after, .liInLi.on button::after{display:inline-block;}
.accordion li.on > div button::before, .accordion li.on h4 button::before, .accordion div.on button::before, .liInLi.on button::before{display:none;}
.accordion li:not(.on) > .list {display: none;}
.accordion input[type="checkbox"] + label {display: inline-flex; align-items: center;}
.accordion label img {width: 1.25rem; margin-right: .25rem;}
.btn-small.btn-orange svg{fill:#fcd2ba;margin-top: 0.25em;}
.btn-small.btn-orange{color:#4d5256}
.btn-small.btn-gray1 svg{fill:#a3a3a3;margin-top: 0.25em;}
.btn-small.btn-gray1{color:#4d5256}
.list_name1{text-align:right;font-size:70%;padding-right:10px;}
.list_name1 span:first-child:before{content:"";width:10px;height:10px;margin-right:5px;background:#ff5001;display:inline-block}
input[name='upFileDelBtn']{ margin-left: 10px;border-bottom: 0px;}
table.list tr th, table.list tr td {padding: .2rem;}
table.list tr{border-bottom:1px solid #f3f3f3;position:relative}
table.list tr a{color:#333}
table.list tr a.btn:after{content:">";background: #f4f4f4;box-shadow:0 1px 4px rgba(0,0,0,0.3); border-radius: 50%; width:0.8rem; line-height:0.8rem;height: 0.8rem; */
    font-size: 70%;position: absolute; right: 24px;color:#afb0b2}
#listLi ol{border-bottom:1px solid #f3f3f3;margin-bottom:10px}
#listLi ol:last-child{border-bottom:0;margin-bottom:0px}
.backgray .btn-group1{overflow:hidden;}
.backgray .btn-group1 .btn{flex: 0; width: 25%; float: left; margin: 0;}
.backgray .btn-group1 button{display:inline-block;width:25%;color:#4d5256; padding: .4rem .25rem;}
.backgray .btn-group1 button:before{top:10px;right:2px;}
table.list1 tr:nth-child(odd){background:#f3f3f3}
.overflow{overflow:hidden;}
.fr{float:right;}
.btnPlus{display: inline-block !important;padding-right:0 !important;}
.accordion .btnPlus::before, .accordion .btnPlus::after { color:#003781;margin-left:15px;display: inline-block;position:relative; background:#fff;border:1px solid #003781;box-shadow:0 0px 0px rgba(0,0,0,0.3); border-radius: 50%; width:1.375rem;height:1.375rem;line-height: 1.21rem;}
.accordion .btnPlus::before{content: '+';}
.accordion .btnPlus::after{content: '-';display:none;}
.btn4 .accordion .btn-group a{flex:auto}
.btn4 .accordion button{display:inline-block }
.btn4 .accordion button::before,.btn4 .accordion button::after {top:31%}
.p10{padding:10px}
.btn-small.btn-gray2 svg {fill: #909090;}
.btn-small.btn-gray2 {border: 1px solid #909090; background: none; color: #909090;}
.subPage h4{border-bottom: 1px solid #0146a3;margin-top:15px;}
.subPage h4:before {content:"";margin-right: 10px; margin-left: 10px;width: 5px; height: 5px;display: inline-block;border-radius: 50%;background: linear-gradient(150deg, #004ea2 , #001854);}
.list_name3{letter-spacing: -2px;padding: .5rem 0;}
.ui-datepicker{width:80%}
.img12 img{width:12px !important;margin-left: 3px;display: inline-block; }
.img15 img{width:25px !important;margin-left: 3px;display: inline-block; }
.fileName{width:75%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
.addBtn{width:100%;padding:0.5rem;position:relative;text-align:center;font-size: 0.9em;border: 1px solid #90989e;margin: 1.8rem auto 1rem;}
.addBtn:after{content:"";width: 15px;height: 15px;position:absolute;border: 1px solid #4d5256;border-top:0;border-left:0; display: inline-block; transform: rotateZ(45deg);margin-left:8px;margin-top: 2px;}
.ol_wrap > li:first-child{margin-top:15px;position:relative;border-top:1px solid #8e8e8e;padding-top:30px;}
.ol_wrap > li:first-child:before{content:"";display:inline-block;position:absolute;margin-top:-23px;border:1px solid #ccc; height:9px;width:9px;transform:rotate(135deg);border-left:0;border-bottom:0;left:48% }
.chckCnt{display:inline-block;margin-left:15px;color:#e87a1b !important}
#etcChekForm .horizontal.write{table-layout:fixed;}
.tab2_radio{width:100%;}
.tab2_radio ul{width:100%;display:block;}
.tab2_radio ul li{width:50%;display:inline-block;float:left;text-align:center;background:#f8f8f8;cursor:pointer;padding:0.4rem;overflow:hidden;color:#676767;border:1px solid #f8f8f8;border-bottom:1px solid #ddd;border-top:2px solid #f8f8f8;}
.tab2_radio ul li.active{color:#0146a3;font-weight:600;border-top:2px solid #0146a3;background:#fff;border-bottom:1px solid #fff;}
.tab2_radio ul li:first-child.active{border-right:1px solid #ddd;}
.tab2_radio ul li:last-child.active{border-left:1px solid #ddd;}

.tab2_radio span{width:50%;display:inline-block;float:left;text-align:center;border-radius:0.2rem 0.2rem 0 0;font-size:0.8em;border:1px solid #676767;background:#f8f8f8;cursor:pointer;padding:0.26rem;overflow:hidden;color:#676767;border-bottom:2px solid #000;}
.tab2_radio span.active{background:#676767;color:#fff;}
.tab2_p p{font-size:0.7em;}

#imgFile, #imgFile li, #imgFile img, #imgFileList, #imgFileList li, #imgFileList img{max-width:100%;} /*-- 20210630추가--*/





/* 220713 추가 (wrms 추가)*/
.contents{padding-bottom: 1rem;}
.mar_t10{margin-top: 0.5rem;}
.mar_t20{margin-top: 1rem;}
.mar_t30{margin-top: 1.5rem;}
.wrms_top{font-size: 0.75rem; margin:0.5rem;  }
.wrms_top .notice_box{padding: 0.75rem; background: #fff; box-shadow: 0 0 2px rgb(200 200 200 / 80%);}
.wrms_top p{text-align: right; margin-top: 0.5rem;}
#frmViewEquipSearch{padding:0 0.5rem;}
#frmViewEquipSearch .search input[type='text']{height: 2rem; padding: .375rem .5rem; border: 1px solid #ced3d6; }
.search .btn-search.sm{height: 2rem; display: block; line-height: 1.9rem;}
.search .btn-search.sm svg{width: 0.9rem; height: 0.9rem; margin: 0; margin-right: 0.2rem; display: inline-block; vertical-align: -0.15rem;}
.content_wrap{padding: 0 0.5rem;}
.tbl_typeA{border: 1px solid #d2d2d2; background: #fff; border-collapse: collapse;}
.tbl_typeA th, .tbl_typeA td{border: 1px solid #d2d2d2; text-align: center; line-height: 1.3;}
.tbl_typeA.sm th, .tbl_typeA.sm td{font-size: 0.75rem;}
.tbl_typeA.tdl td{text-align: left;}
.tbl_typeA tr.bg{background: #e7f7ff;}
.list_round{margin-right: 5px;}
.list_round .status{display: inline-block; width: 0.7rem; height: 0.7rem; border-radius: 100px; background: #ddd;}
.list_round .status.s_yellow{background: #fdc32e;}
.list_round .status.s_blue{background: #2d89bd;}
.list_round .status.s_red{background: #ff0608;}
.list_round .status.s_orange{background: #ff5e00;}
.list_round .status.s_black{background: #000;}
.rateup {background: url("../image/mobile/img_wrms_arrow_up.svg") no-repeat left center; background-size: 0.4rem;  color: #ed1a20; padding-left: 0.5rem; margin-left: 0.6rem; position: relative; top: -0.3rem; font-size: 0.6rem;}
.ratedown {background: url("../image/mobile/img_wrms_arrow_down.svg") no-repeat left center; background-size: 0.5rem; color: #1e81e3; padding-left: 0.5rem; margin-left: 0.6rem; position: relative; bottom: -0.3rem; font-size: 0.6rem;}
.wrms_detail_top{font-size: 1rem; font-weight: 500; padding: 0 0.5rem;}
.wrms_detail_top #equip_name{padding-left: 0.4rem; position: relative;}
.wrms_detail_top #equip_name::before{content: ''; display: block; width: 0.2rem; height: 1rem; background: #004a9c; position: absolute; left: 0; top: 0.3rem;}
.wrms_detail_top i{font-style: normal; font-size: 0.8rem; font-weight: normal;}
.accordion_menu .ac_cont{display: none;}
.wrms_chart .ac_btn{margin-top: 0.3rem;}
.wrms_chart .ac_cont{margin-top: 0.3rem;}
.wrms_chart .btn.sm{font-size: 0.75rem; width: 100%; line-height: 1rem; border-radius: 0.3rem;}