@charset "utf-8";

.form-control[readonly].select_date {
    background-color: #ffffff;
}

.main-footer2{
    position: absolute;
	/* width: 100%; */
    font-size: 10px;
    color: #999;
    left: 210px;
	left: 220px;
    right: 0px;
    bottom: 0px;
    padding: 6px 8px 4px 8px;
    /* text-align: center; */
    background: #ffffff;
    font-size: 10px;
    color: #999;
}

.sb-group {
	display: inline-block;
	position: relative;
	float: left;
	padding: 0px;
}
.sb-col {
	display: inline-block;
	position: relative;
	float: left;
	padding: 0px 2px 0px 2px;
}

.unit {
	font-size: 11px;
	color: 'gray';
	line-height: 1.2;
}

.nav-tabs-custom.head-tool-bar {
	margin-bottom:15px;
}
.grid-box{
	padding:1px; 
	margin-bottom:25px;
}