/********* common *********/
// title
.main_title{font-size:13px;color:#fff;line-height:23px;padding-left:18px;position:relative;margin:12px 0 12px 20px;
    &:before{@include before;@include position($t:6px,$l:0);width:7px;height:13px;background:#4064C3}
    span.amount{@include position($r:15px);color:#fff;font-size:12px}
}

// input-checkbox
.checkcontainer{display:block;position:relative;padding-left:18px;margin-bottom:12px;cursor:pointer;font-size:13px;color:#fff;
    -webkit-user-select: none; /* Chrome, Opera, Safari */-moz-user-select: none; /* Firefox 2+ */-ms-user-select: none; /* IE 10+ */user-select: none; /* Standard syntax */}
.checkcontainer input{@include position;opacity:0;cursor: pointer;}
.checkmark {@include position($t:0,$l:0);height:15px;width:15px;background-color:#fff;border-radius:3px;top:5px;
    &:hover input ~ .checkmark{background-color:#ccc}    
}
.checkcontainer input:checked ~ .checkmark {background-color: #2196F3;}
.checkmark:after {content: ""; position: absolute;display:none;}
.checkcontainer input:checked ~ .checkmark:after {display:block;}
.checkcontainer .checkmark:after {left:4px;top:1px;width:4px;height:8px;border: solid white;
    border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

/* step color */
.step_point{display:block;width:8px;height:8px;border-radius:50%;margin:0 auto} /* 테이블에서 가운데 정렬 */
.step_point2{display:inline-block;width:8px;height:8px;border-radius:50%;margin-right:7px} /* 옆으로 정렬 */


.step_point_wrap {display:inline-block;margin-left:4px;
    span.step_status{display:inline-block;width:8px;height:8px;border-radius:50%;}
    .txt{padding-left:3px;font-size:14px}
}

.bgcolor_step1{background-color:$color-step1;}
.bgcolor_step2{background-color:$color-step2;}
.bgcolor_step3{background-color:$color-step3;}
.bgcolor_step4{background-color:$color-step4;}

.color_step1{color:$color-step1;}
.color_step2{color:$color-step2;}
.color_step3{color:$color-step3;}
.color_step4{color:$color-step4;}

.point_step{position:relative;margin-left:6px;padding-left:10px;font-size:14px}
.point_step::before{content:'';display:inline-block;width:6px;height:6px;border-radius:50%;@include position($t:7px,$l:0);}
.point_step1::before{background-color:$color-step1;}
.point_step2::before{background-color:$color-step2;}
.point_step3::before{background-color:$color-step3;}
.point_step4::before{background-color:$color-step4;}

.small_step_point{font-size:14px;position:relative;padding-left:20px;
    &:before{@include before;@include position($t:17px,$l:-20px);border-radius:50%;width:10px;height:10px;    
    }
}

// check label
.search_checkbox{display:flex;flex-wrap:wrap;padding:0 20px;margin-top:20px}
.check_label{display:flex;width:33.3%}
.check_icon{position:relative;padding-left:40px;
    &:before{@include before;@include position();width:30px;height:30px;}
}    
.check_icon1:before{background:url($imgurl3 + 'icon_1.png');}  
.check_icon2:before{background:url($imgurl3 + 'icon_2.png');}  
.check_icon3:before{background:url($imgurl3 + 'icon_3.png');}  
.check_icon4:before{background:url($imgurl3 + 'icon_4.png');}  
.check_icon5:before{background:url($imgurl3 + 'icon_5.png');}  
.check_icon6:before{background:url($imgurl3 + 'icon_6.png');}  

// 탭메뉴
.tab_type1{
    ul{display:flex;padding:0 0 10px 0;
      li{flex:1;
        a{display:block;padding:0 20px;font-size:14px;text-align:center;height:55px;line-height:53px;background:#A2B1C7;color:#fff;margin-right:1px;
         &.on{text-decoration:none;background:#478FF5}
         &:hover{text-decoration:none;background:#9eadc5}
        }
      }
      }
    }
  
/* 테이블 */
//팝업 안 테이블 
.table_type_pop1{
    &:nth-of-type(n+2) table{margin-top:7px}
    table{width:100%;border-collapse:collapse;border-spacing:0;}
    th,td{border:1px solid #ddd;padding:8px 10px;font-size:13px}
    th{text-align:left}
    td{color:#999;text-align:right}
}
    
/* map common */
// 팝업
.map_popup{position:relative;max-width:80px;width:100%;border-radius:5px;background:rgba(255,255,255,0.8);box-shadow:0 2px 10px #666;
    h3{font-size:12px;color:#555;height:25px;line-height:25px;padding:0 7px;border-radius:5px}
    p{color:#fff;font-size:13px;font-weight:700;height:30px;line-height:30px;padding:0 7px;border-radius:0 0px 5px 5px}   
    .point{border-radius:50%;width:8px;height:8px;display:block;@include position($t:-5px,$l:-14px);border:1px solid #fff}
}

.popcolor_step1{background-color:$popcolor-step1}  //투명도가 적용된 단계별 색상 (관심,주의,경계,경고)
.popcolor_step2{background-color:$popcolor-step2}
.popcolor_step3{background-color:$popcolor-step3}
.popcolor_step4{background-color:$popcolor-step4}


.map_popup2{position:relative;max-width:230px;width:100%;border-radius:5px;padding:15px 20px;background:rgba(255,255,255,0.8);box-shadow:0 2px 10px #666;
    a.btn_close{@include position($t:5px,$r:8px);color:#8F8F8F}   
    h3{font-size:16px;color:#555;line-height:30px;border-bottom:1px solid #ccc;width:100%;}
    span.asos{@include position($r:20px);font-size:13px}
    ul{padding-top:4px;
        li{display:flex;color:#666;font-size:13px;font-weight:400;line-height:20px;
            span.tit{font-weight:500;min-width:65px}
            span.con{padding-left:12px}
        }           
    }
}

.map_popup3{position:relative;min-width:100px;border-radius:5px;background:rgba(255,255,255,0.8);box-shadow:0 2px 10px #666;
    h3{font-size:12px;color:#3E4854;height:25px;line-height:25px;padding:0 7px;background:#EAFAFF;border-radius:5px}
    p{color:#2C2C2C;font-size:15px;font-weight:900;height:30px;line-height:30px;padding:0 7px;border-radius:0 0px 5px 5px}   
    .point{border-radius:50%;width:8px;height:8px;display:block;@include position($t:-5px,$l:-14px);border:1px solid #fff}
    ul{padding:6px;
        li{font-size:13px;line-height:20px;
            span.tit{font-weight:700;color:#333}
            span.txt{color:#999;padding-left:10px}
        }
    }
}



// header
#header{@include fixed($l:0px);z-index:2;background:rgba(0,0,0,0.5);display:flex;width:100%;height:65px;padding:0 20px;
    .header__wrap{display:flex;width:100%;align-items:center;justify-content:space-between;
    h1{padding-left:20px}
    nav{
        .main-menu{display:flex;
            li{
                a{color:#fff;padding:24px 0px;margin:0 30px;display:flex;justify-content:center;position:relative;
                    &:before{@include before();@include position($l:0,$b:0,$r:100%);height:4px;transition:.4s;-webkit-transition:.4s;background:transparent;pointer-events:none}
                    &.on:before,&:hover:before{@include position($r:0);pointer-events:unset;background:#FFC700;}
                    &:hover{text-decoration:none;                       
                    }              
                }
            }   
          }
       }
    
    .sub-menu{display:flex;
        ul{display:flex;
            a{position:relative;color:#fff;@include flex-center;border:1px solid #fff;border-radius:50%;width:32px;height:32px;margin-right:7px;
            &:hover{border:none;background:#fff;}
            &:hover i{color:#000}           
            i{font-size:13px}
            .new{display:block;@include position($t:-8px,$l:20px);z-index:3;border-radius:50%;width:20px;height:20px;
                background:#FFD505;color:#000;font-size:10px;text-align:center;font-weight:700;line-height:20px;}
            }                                     
          }     
            a.logout{color:#fff;line-height:28px;padding:0 0 0 15px;font-weight:300;
            &:hover{text-decoration:none;font-weight:500}
          }      
        }
    }
}

#main_container{width:100%;height:100%;
    .map{width:100%;height:100%;background:url($imgurl + 'map_sample.png') no-repeat;background-size:cover;@include position;z-index:1;
    &:before{@include before;@include position;width:100%;height:100%;background:rgba(0,0,0,.1)}
    }   
}

// sub_menu
.sub_menu{@include position($r:0px,$t:0px);margin:8px 8px 0 0;
    ul{
        li{
            a{display:block;width:150px;font-size:12px;height:40px;line-height:40px;padding:0 20px;color:#fff;
                background:rgba(44,48,85,0.7);margin-bottom:1px;
                &:hover,&.on{text-decoration:none;background:#2C3055;border:2px solid #FFC700;line-height:37px;padding:0 18px}
            }
        }
    }
}

// 하단시간별재생바
.progress_bar{@include position($l:0,$b:25px);z-index:3;width:100%;padding:0 8px 0 70px;}
.progress_line{width:100%;height:6px;cursor:pointer;position:relative;background:rgba(255, 255, 255, 0.7);border-radius:2px}
.played{@include position($t:0,$l:0);background:#d49500;height:6px;border-radius:2px;
    span.bar{display:block;border-radius:3px;background-color:#e0e0e0;width:10px;height:20px;@include position($t:-8px)}
}
.play_pause{@include position($l:12px,$t:-17px);width:40px;height:40px;background-color:rgba(0,0,0,0.5);border:none;border-radius:50%;cursor:pointer;box-shadow:0 0 4px 0 #000;
    i{color:#fff;opacity:0.3;line-height:40px;display:flex;justify-content:center}
    &:hover{background-color:rgba(0,0,0,0.8);
        &>i{opacity:0.8}
    }
}
.timecode{@include position($t:-45px);transform:translateX(-50%);max-width:120px;padding:10px;border-radius:4px;font-size:13px;display:block;background:rgba(255,255,255,0.4);color:#555;
    &:before{@include before;@include position($t:100%,$l:50%); transform: translateX(-50%);border-top: 10px solid rgba(255, 255, 255, 0.4);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
}


// 범례
.legend_box{@include position($r:0px,$b:40px);background:rgba(0,0,0,0.4);padding:20px 30px 35px 15px;margin-right:8px;
    h5{font-size:13px;font-weight:700;color:#fff;padding-bottom:4px}
    .legend__type1{max-width:170px;
        li{line-height:20px;font-size:12px;color:#fff}
    }
}

// 지도안 검색바
.inner_map{position:relative;z-index:2;width:calc(100% - 840px);height:calc(100% - 65px);margin:65px auto 0;}
.search_bar_sub{background:rgba(255,255,255,0.7);padding:10px 14px;display:inline-block;
   .label_tit{padding-right:10px;font-size:12px;font-weight:500;color:#555}
}

// 버튼
.btn{display:inline-block;}
.btn_search{cursor:pointer;min-width:70px;border:0;height:40px;line-height:40px;color:#fff;background:#5665F2;
    &:hover{background:#4e5eeb}
}
.btn_excel{cursor:pointer;min-width:70px;border:0;height:40px;line-height:40px;color:#fff;background:#8487A0;
    &:hover{background:#787b92}
}

// 팝업
.popup_common{min-width:800px;min-height:400px;margin:0 auto;background:#fff;border-radius:7px;@include position;z-index:6;overflow:hidden;
    box-shadow:0 5px 10px #555;padding:0 0 30px 0;
    a.btn_close{@include position($t:10px,$r:15px);z-index:7;display:block;
        i{font-size:24px;color:#999}
    }
    h4{font-size:30px;line-height:40px;font-weight:300;color:#222;padding-bottom:10px}  
    .pop_con{position:relative;display:flex;padding:30px 40px 0px 40px;
        .pop_con__info{width:35%;
            .info_wrap{padding-bottom:15px;
                dl{color:#999;display:flex;font-size:14px;line-height:23px;
                    dt{min-width:100px;padding-right:10px;font-weight:500}
                }
            }
            // info_wrap   
        }
        .pop_con__list{width:65%;padding-left:2%;
        }                
    }
}


/* lnb */
#lnb{@include position($t:0,$l:0);z-index:2;width:420px;height:calc(100% - 65px);margin-top:65px;background:rgb(16,15,50,.5);}

// 현재시간,단계
.current{display:flex;justify-content:space-between;padding:20px 30px;
    .current__time{color:#fff;
        .date{font-size:15px;line-height:25px}
        .time{font-size:40px;line-height:50px;@include font-num1;font-weight:700;letter-spacing:-3px}
    }
    .current__status{text-align:right;margin-top:4px;
        dt{color:#fff;font-size:15px;line-height:23px;padding-bottom:14px}
        dd{font-size:28px;font-weight:700;                
            span{position:relative}
            span:before{@include before;@include position($t:17px,$l:-20px);border-radius:50%;width:10px;height:10px}
            span.step1{color:$color-step1}
            span.step2{color:$color-step2}
            span.step3{color:$color-step3}
            span.step4{color:$color-step4}
            span.step1:before{background:$color-step1}
            span.step2:before{background:$color-step2}
            span.step3:before{background:$color-step3}
            span.step4:before{background:$color-step4}
        }
    }
}

//날씨정보
.weather_container{display:flex;padding:20px;
    .today{color:#fff;text-align:center;width:25%;margin-right:20px;
        h3{font-size:30px;@include font-num1;line-height:45px}
        span.txt,span.wind{font-size:12px;line-height:20px;letter-spacing:0}    
        span.wind{margin-left:4px}    
    }
}

.weather_wrap{display:flex}
.sun{background:url($imgurl3 + 'weather_icon_sun.png') no-repeat}
.rain{background:url($imgurl3 + 'weather_icon_rain.png') no-repeat}
.snow{background:url($imgurl3 + 'weather_icon_snow.png') no-repeat}
.cloud{background:url($imgurl3 + 'weather_icon_cloud.png') no-repeat}
.cloud2{background:url($imgurl3 + 'weather_icon_cloud2.png') no-repeat}
.weather_icons{display:block;width:30px;height:30px;background-size:30px}
.weather_icons_small{display:block;width:23px;height:23px;background-size:23px}

.day_weather{display:flex;flex:1;flex-direction:column;@include flex-center;color:#fff;font-size:13px;}

// 실시간레이더
.rader_wrap{position:relative;
    .live_datetime{background:rgba(0,0,0,0.3);color:#fff;width:100%;height:40px;line-height:40px;font-size:13px;letter-spacing:0;padding-left:20px;margin-top:-2px}
    & > img{margin-top:40px;width:100%}
    .pannel_bg{@include position($t:0);color:#fff;width:100%;height:40px;line-height:40px;font-size:13px}
}
        
// 기상특보알리미
.alarm_news{width:100%;padding:0 20px;margin-top:20px;
    h3{font-size:15px;line-height:25px;color:#FFB6B6;padding-bottom:12px;}
    dl{display:flex;position:relative;padding:0 0 20px 55px;
        &:before{@include before;@include position($l:0,$t:-7px);border-radius:50%;width:40px;height:40px;background:#606060 url($imgurl + 'icon_weather_alarm.png') 50% 50% no-repeat;z-index:2}
        &:after{@include before;@include position($l:20px,$t:0);width:1px;height:100%;background:rgba(255,255,255,0.3);z-index:1}
        &.on:before{background-color:#F9423C}
        dt{text-align:center;
            .day{color:#fff;font-size:23px;padding-bottom:3px;@include font-num1;font-weight:700;}
            .year{color:rgba(255,255,255,0.3);font-size:10px}
        }
        dd{color:rgba(255,255,255,0.5);padding-left:20px;
            a{color:#fff;font-size:10px;color:rgba(255,255,255,0.4);}
        }
    }
}
/* rnb */
#rnb{@include position($t:0,$r:0);z-index:2;width:420px;height:calc(100% - 65px);margin-top:65px;background:rgb(16,15,50,.5);}
// 누적평균강수
.average_data{display:flex;width:100%;
    dl{flex:1;text-align:center;
        &:first-child dd:before{@include before;@include position($t:0,$r:0);width:1px;height:100%;background:rgba(255,255,255,0.2);}       
        dt{background:rgba(0,0,0,0.4);font-size:14px;color:#fff;height:40px;line-height:40px}
        dd{position:relative;background:rgba(0,0,0,0.2);height:65px;line-height:65px;color:#fff;           
            span.title{font-size:14px;padding-right:15px}
            span.amount{@include font-num1;font-size:23px;font-weight:700;padding-right:8px;
                em.unit{font-size:12px}
            }
            span.percent{@include font-num1;font-weight:700;font-size:19px;color:#FFC700;letter-spacing:-2px;
                em.unit{font-size:12px}
            }
        }
    }
}

.status__table{width:100%;margin-top:20px;
    p.info{width:100%;height:35px;background:rgba(0,0,0,0.4);line-height:33px;font-size:12px;padding-left:10px;color:#fff;
        span{padding-right:10px}
    }
    .main_table{width:100%;text-align:center;border-collapse: collapse;
        th{background:rgba(0,0,0,0.3);height:30px;padding:4px;color:rgba(255,255,255,0.8);font-size:13px;font-weight:400;vertical-align:middle;}
        td{color:#fff;height:45px;padding:0 4px;vertical-align:middle;font-size:13px}      
        tr:nth-child(2n){background:rgba(0,0,0,0.2)}
    }
}

// searhch_tab
.search_tab{display:flex;width:100%;
    li{flex:1;
        a{display:block;height:40px;text-align:center;margin-left:1px;line-height:40px;font-size:13px;background:rgba(0,0,0,0.3);color:#fff;position:relative;
            &:hover,&.on{text-decoration:none;background:#4064C3}
        }
       
    }
}	

// graph
.main_chart{
    p{width:100%;height:200px;background:#000;display:flex;justify-content:center;align-items:center;color:#fff}    
}



//search
.search_container{width:100%;position:relative;
    input{position:relative;width:100%;height:60px;line-height:60px;background:rgba(18,22,37,.4);border:none;text-indent:45px;
        &::placeholder{color:#B6B7BC;font-size:15px}
    }
    button{@include position($t:50%,$l:0px);transform:translate(0, -50%);width:50px;height:100%;background:none;border:none;
        i{color:#fff;font-size:17px}
    }    
   
}


